* {
    box-sizing: border-box;

}

html {
    font-family: 'Roboto';

}

body {
    background-color: #ffe2b0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
ol {
    margin-bottom: 20px;
    list-style-type: none;
    text-align: center;
    padding: 0%;
}
li {
    display: inline;
    margin-right: 100px;
    font-weight: 700;
}
li:last-child{ 
    margin-right: 0%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}


nav {
    margin-bottom: 20px;
}

.section_about {
    margin-bottom: 20px;
    height: 640px;
    position: relative;
    background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
}

.section_about_block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234,156, 65, 0.8)100%);
    position: absolute;
    top: 54%;
    left: 51%;
    text-align: center;
    padding-top: 15px;
}

.section_about_border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;

}

.section_about_title{
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}

.section_about_text {
    font-size: 12px;
    margin: 0;
}

.icons {
    height: 290px;
    width: 290px;
    margin-right: 76px;
}
.icons:last-child{ 
    margin-right: 0;
}

.section_discraption_icons {
    text-align: center;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    font-size: 96px;
    margin: 0;
    font-family: 'Philosopher';
}

.section_discraption_text span {
    color: #f15b40;
}

.section_discraption_text p{
    font-size: 18px;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 20px;
}

h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Philosopher';
}

.map {
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    margin: 0 auto;
    width: 1024px;
    margin-bottom: 20px;
}
.end {
    margin-bottom: 0;
}

footer{
    height: 80px;
}

h1 {
    font-family: 'Philosopher';
}